@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.header {
  width: 100%;
}
.navbar {
  width: 95%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
}
.logo img {
  width: 50%;
}
.navbar>i{
  font-size: 3vmin;
  display: none;
}
.navlist {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navbtn {
  border: 2px solid #3383ee;
  font-family: "Poppins", sans-serif;
  padding: 8px 15px;
  outline: none;
  color: #3383ee;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.main-section {
  width: 95%;
  margin: 2% auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.left-sec h1 {
  font-size: 9vmin;
  margin: 8px 0px;
  color: #3d4959;
}
.left-sec p {
  font-size: 2.5vmin;
  letter-spacing: 1px;
}
.pri-btn {
  padding: 8px 15px;
  background: linear-gradient(180deg, #538ffb, #5b54fa);
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 2.4vmin;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 7px rgb(191, 186, 186);
  cursor: pointer;
}
.right-sec {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-sec img {
  width: 80%;
}

.main-sec02 {
  width: 95%;
  margin: 0% auto;
  margin-top: 4%;
  /* height: 90vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  width: 50%;
  margin-right: 2%;
}
.left-side img {
  width: 95%;
}
.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content h1 {
  font-size: 8vmin;
  color: #3d4959;
  margin: 10px 0px;
}
.content p {
  font-size: 2.5vmin;
  letter-spacing: 1px;
}
.main-sec03 {
  width: 95%;
  margin: 0% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services {
  width: 95%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
}
.service-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.service-heading>h1 {
  width: 40%;
  font-size: 6vmin;
  color: #3d4959;
  margin: 10px 0px;
}
.service-heading>p {
  width: 50%;
  font-size: 2.3vmin;
  letter-spacing: 1px;
}
.service-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card {
  width: 30%;
  /* margin: 2% 1%; */
}
.card img {
  width: 15%;
}
.card h4 {
  font-size: 3vmin;
  font-weight: 500;
  margin: 5px 0px;
}
.price-container {
  width: 100%;
  
  margin: 0%;
  background: linear-gradient(90deg, #08bbf7, #0466ea);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-container > h1 {
  font-size: 6vmin;
  color: white;
  letter-spacing: 1px;
}
.price-cards {
  width: 95%;
  margin: 0% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-card {
  width: 25%;
  height: 72vh;
  background-color: #ffffff;
  margin-right: 5%;
  margin-bottom: 2%;

  border-radius: 5px;
}
.price-heading {
  width: 100%;
  height: 100px;
  margin-bottom: 10%;
}


.price-heading > p {
  margin: 0%;
  padding: 1% 5%;
}

.price-heading h4 {
  font-size: 4vmin;
  font-weight: 500;
  margin: 0%;
  padding: 1% 5%;
}
.bg-black {
  background-color: #353535;
  margin-bottom: 10%;
  color: #ffffff;
  border-radius: 5px;
}
.features li {
  margin-bottom: 20px;
  list-style: none;
}
.features li::before {
  content: "\2713";

  font-weight: 900;
  margin-right: 10px;
  color: #07d7a0;
  border: 2px solid #07d7a0;
  border-radius: 60%;
  padding: 2px 7px;
}
.bottom-part {
  text-align: center;
}
.bottom-part>h1 {
  font-size: 5vmin;
  font-weight: 500;
  margin: 10px 0px;
}
.bottom-part p {
  margin: 10px 0px;
}
.review-container {
  width: 90%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.review-heading {
  width: 100%;
  text-align: center;
}
.review-heading h1 {
  font-size: 6vmin;
  color: #3d4959;
  margin: 3% 0;
}
.review-heading > p {
  width: 60%;
  margin: 0% auto;
  text-align: center;
  font-size: 2.4vmin;
}
.review-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap:20px;
}
.review-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 7%;
}
.review-text {
  font-size: 2.4vmin;
  margin: 0%;
}
.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user::before {
  content: " ";
  display: block;
  width: 70px;
  height: 68px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 10px;
}
.register-section {
  background: linear-gradient(180deg, #08bbf7, #0466ea);
  height: auto;
  margin-bottom: 5%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register-left{
  width: 50%;
  
}
.register-left>h1{
font-size: 6vmin;
}
.regbtn{
  padding: 8px 15px;
background: transparent;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 2.4vmin;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 1px 15px rgb(191, 186, 186);
  cursor: pointer;
}
footer{
  width: 90%;
  margin: 0% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0px;

}
.footer-logo{
  width: 25%;
}
*{
  list-style: none;
}
footer h4{
  font-size: 3.5vmin;
  color: #353535;
}
.footer-logo>img{
width: 30%;
margin: 0%;
padding: 0%;
filter: invert(20%);
}
.social>i{
  font-size: 3.5vmin;
  margin-right: 20px;
  cursor: pointer;
}
@media only screen and (max-width:1100px){
  .navlist{
    display: none;
  }
  .navbar>i{
    display: block;
  }
  .main-section,.main-sec03{
    flex-direction: column;
    border-bottom: 2px solid gray;
  }
  .left-sec{
    width: 80%;
  }
  .right-sec{
    width: 70%;
  }
  .main-sec02{
    flex-direction: column-reverse;
    border-bottom: 2px solid gray;

  }
  .right-side{
    width: 70%;
  }
  .left-side{
    width: 80%;
  }
  .service-heading{
    flex-direction: column;
  }
  .service-heading>h1{
    width: 90%;
  }
  .service-heading>p{
    width: 90%;
  }
  .service-content{
    display: flex;
    flex-wrap: wrap;
  }
  .price-cards{
    flex-direction: column;
  }
  .price-card{
    width: 60%;
    height: auto;
   padding-bottom: 20px;
  }

}
@media only screen and (max-width:700px){
  .service-content{
    flex-direction: column;
  }
  .card{
    width: 80%;
  }
  .review-cards{
    flex-direction: column;
    
  }
  .review-card{
    width: 70%;
  }
  .register-left{
    width: 80%;
  }
  .register-section{
    flex-direction: column;
    padding-bottom: 10px;
  }
  .footer{
    width: 100%;
    flex-direction: column;
  }
  .footer-parts{
    width: 70%;
  }
  .footer-logo{
    width: 80%;
  }
  .price-card{
    height: auto;
  }
  
}