@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  font-size: 1.6rem;
}
html {
  font-size: 62.2%;
}
.header {
  width: 100%;
}
.navbar {
  width: 95%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 20rem;
}
.logo img {
  width: 50%;
}
.navbar > i {
  font-size: 2rem;
  display: none;
}
.navlist {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navlist > li {
  cursor: pointer;
}
.navbtn {
  border: 2px solid #3383ee;
  font-family: "Poppins", sans-serif;
  padding: 0.8rem 1.5rem;
  outline: none;
  color: #3383ee;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.main-section {
  width: 90%;
  margin: 2% auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.left-sec h1 {
  font-size: 5rem;
  margin: 8px 0px;
  color: #3d4959;
}
.para {
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.pri-btn {
  padding: 0.8rem 1.5rem;
  background: linear-gradient(180deg, #538ffb, #5b54fa);
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 7px rgb(191, 186, 186);
  cursor: pointer;
}
.right-sec {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-sec img {
  width: 80%;
}

.main-sec02 {
  width: 95%;
  margin: 0% auto;
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  width: 50%;
  margin-right: 2%;
}
.left-side img {
  width: 95%;
}
.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content h1 {
  font-size: 5rem;
  color: #3d4959;
  margin: 1rem 0rem;
}

.main-sec03 {
  width: 90%;
  margin: 0% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.services {
  width: 95%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
}
.service-heading {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  margin: 5% auto;
}
.service-heading > h1 {
  width: 40%;
  font-size: 5rem;
  color: #3d4959;
  margin: 1rem 0px;
  margin-right: auto;
}
.service-heading > p {
  width: 50%;

  letter-spacing: 1px;
}
.service-content {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
}
.card {
  width: 28%;
}
.card img {
  width: 15%;
}
.card h4 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 5px 0px;
}
.card p {
  font-size: 1.6rem;
}
.price-container {
  width: 100%;
  margin: 0%;
  background: linear-gradient(90deg, #08bbf7, #0466ea);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-container > h1 {
  font-size: 4rem;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
.price-cards {
  width: 95%;
  margin: 0% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-card {
  width: 25%;
  height: auto;
  background-color: #ffffff;
  margin-right: 5%;
  margin-bottom: 2%;

  border-radius: 5px;
  padding-bottom: 4rem;
}
.price-heading {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.price-heading > p {
  margin: 0%;
  padding: 1% 5%;
  font-size: 1.6rem;
}

.price-heading h4 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0%;
  padding: 1% 5%;
}
.bg-black {
  background-color: #353535;
  margin-bottom: 10%;
  color: #ffffff;
  border-radius: 5px;
}
.features li {
  margin-bottom: 2rem;
  list-style: none;
}
.features li::before {
  content: "\2713";

  font-weight: 900;
  margin-right: 1rem;
  color: #07d7a0;
  border: 2px solid #07d7a0;
  border-radius: 60%;
  padding: 2px 7px;
}
.bottom-part {
  text-align: center;
}
.bottom-part > h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem 0rem;
}
.bottom-part p {
  margin: 1rem 0px;
}
.review-container {
  width: 90%;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-heading {
  width: 100%;
  text-align: center;
}
.review-heading h1 {
  font-size: 5rem;
  color: #3d4959;
  margin: 3% 0;
}
.review-heading > p {
  width: 60%;
  margin: 0% auto;
  text-align: center;
}
.review-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.review-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 7%;
}
.review-text {
  font-size: 1.8rem;
  margin: 0%;
}
.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user::before {
  content: " ";
  display: block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 10px;
}
.register-section {
  background: linear-gradient(180deg, #08bbf7, #0466ea);
  height: auto;
  margin-bottom: 5%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register-left {
  width: 50%;
}
.register-left > h1 {
  font-size: 5rem;
}

.regbtn {
  padding: 0.8rem 1.5rem;
  background: transparent;
  color: aliceblue;
  font-family: "Poppins", sans-serif;

  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 1px 15px rgb(191, 186, 186);
  cursor: pointer;
}
footer {
  width: 90%;
  margin: 0% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0px;
}

.footer-logo {
  width: 25%;
}

* {
  list-style: none;
}
footer h4 {
  font-size: 2.5rem;
  color: #353535;
}
.footer-logo > img {
  width: 30%;
  margin: 0%;
  padding: 0%;
  filter: invert(20%);
}
.social > i {
  font-size: 2.5rem;
  margin-right: 2rem;
  cursor: pointer;
}
@media only screen and (max-width: 1300px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .navlist {
    display: none;
  }
  .navbar > i {
    display: block;
  }
  .main-section,
  .main-sec03 {
    flex-direction: column;
    border-bottom: 2px solid gray;
  }
  .left-sec {
    width: 80%;
  }
  .right-sec {
    width: 70%;
  }
  .main-sec02 {
    flex-direction: column-reverse;
    border-bottom: 2px solid gray;
  }
  .right-side {
    width: 70%;
  }
  .left-side {
    width: 80%;
  }
  .service-heading {
    flex-direction: column;
  }
  .service-heading > h1 {
    width: 90%;
  }
  .service-heading > p {
    width: 90%;
  }
  .service-content {
    display: flex;
    flex-wrap: wrap;
  }
  .price-cards {
    flex-direction: column;
  }
  .price-card {
    width: 40%;
    height: auto;
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 35%;
  }
  .service-content {
    flex-direction: column;
  }
  .card {
    width: 50%;
  }
  .review-cards {
    flex-direction: column;
  }
  .review-card {
    width: 70%;
  }
  .register-left {
    width: 80%;
  }
  .register-section {
    flex-direction: column;
    padding-bottom: 10px;
  }
  footer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-parts {
    width: 70%;
  }
  .footer-logo {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .price-card {
    width: 60%;
  }
}
